<!DOCTYPE HTML>
<html>
<head>
<title>Analytics</title>

<link href="css/style.css" rel="stylesheet" type="text/css">
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="/css/bootstrap-theme.min.css" rel="stylesheet">

<link rel="stylesheet" id="font-awesome-css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" type="text/css" media="screen">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" id="font-awesome-css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" type="text/css" media="screen">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(
hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</head>

<header>
<body>
    <title>
        Cafe History
    </title>
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(
    hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script> 

    <header>
    <div class="navigation">
        <ul>
            <li>
                <div class="navigation_bar">
                    <img src="images/menu.png" class="hamburger">
                </div>
                <ul>

                    <div class="widget">
                    {{#each navigation}}
                        <li><a href="{{page}}">{{name}}</a></li>
                    {{/each}}
                    </div>

                </ul>
            </li>
        </ul>
    </div>
    </header>

<body>
<div class="container">
    <div class="jumbotron">
        <h1> <center>
            International Center Dish Popularity
        </center>
        </h1>
    </div>

    <center>
        <h1>
            Top 5 Popular Dishes
        </h1>
        <br>
<style>
img {
    width: 400px;
}
</style>
        <p><b>#5 India - Chicken Tikka Masala</b></p>
        <p>221 Yums</p>
        <div class="logo">
            <img src="https://justenougheducation.files.wordpress.com/2012/10/chicken-tikka-masala.jpeg">
        </div>
        <br>

        <p><b>#4 Italy - Potato Gnocchi</b></p>
        <p>264 Yums</p>
        <div class="logo">
            <img src="http://storage.aicod.it/portale/academiabarilla/view/1200/Potato_gnocchi_with_meat_sauce_Romagna-style.jpg">
        </div>
        <br>

        <p><b>#3 Brazil - Vatapa de Galinha (chicken stew)</b></p>
        <p>349 Yums</p>
        <div class="logo">
            <img src="http://ideiasfogao.files.wordpress.com/2009/07/vatapa_danado.jpg">
        </div>
        <br>
        
        <p><b>#2 Iran - Baklava dessert</b></p>
        <p>402 Yums</p>
        <div class="logo">
            <img src="http://homecaprice.com/wp-content/uploads/2015/01/2-baklava.jpg">
        </div>
        <br>

        <p><b>#1 Peru - Peruvian chicken and rice</b></p>
        <p>485 Yums</p>
        <div class="logo">
            <img src="http://media.tumblr.com/80a595dd9cf7aaa06265a05764b1d9bc/tumblr_inline_mhdg3dR2De1qz4rgp.jpg">
        </div>
    </center>
    <br>

    <div class="widget">
        <ol>
            <center>
            <li class="active"><a href="international_cafe.html">Back to this week's International Cafe</a></li>
            <li class="active"><a href="cafe_history.html"> Back to previous cafes</a></li>
            </center>
        </ol>
    </div>
<a href="#" class="back-to-top" style="display: inline;">
<i class="fa fa-arrow-circle-up"></i>
</a>
<a class="back-to-top" style="display: inline;" href="#">Back to Top</a>

</body>
</html>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>
