<!DOCTYPE HTML>
<html>
<body>
	<title>
		Get Involved
	</title>

    <link href="css/style.css" rel="stylesheet" type="text/css">


	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" id="font-awesome-css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" type="text/css" media="screen">

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(
	hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>	

    <header>
    <div class="navigation">
        <ul>
            <li>
                <div class="navigation_bar">
                	<img src="images/menu.png" class="hamburger">
                </div>
                <ul>

                    <div class="widget">
                    {{#each navigation}}
                    	<li><a href="{{page}}">{{name}}</a></li>
                	{{/each}}
                	</div>

                </ul>
            </li>
        </ul>
    </div>
    </header>
	
	<center>
		<h1 id = "get_involved">
			<font style = "color:purple"> Get involved with the International Center now! </p>
		</h1>
	</br>
		<p>If you are interested in meeting new friends and exploring different cultures, fill out this form for the International Center!</p>
	</br>
</center>

	<form>
		<div class="form-group">
			<label for="inputFirstName">First Name</label>
			<input type="text" class="form-control" id="inputFirstName" placeholder="First Name">
		</div>
		<div class="form-group">
			<label for="inputLastName">Last Name</label>
			<input type="text" class="form-control" id="inputLastName" placeholder="Last Name">
		</div>
		<div class="form-group">
			<label for="inputEmail">Email address </label>
			<input type="text" class="form-control" id="inputEmail" placeholder="Enter email">
		</div>
		<div class="form-group">
			<label for="inputAffiliation"> Affiliation with UCSD </labe1>
			<select class="form-control">
				<option> Undergraduate Student </option>
				<option> Graduate Student </option>
				<option> Faculty or Staff </option>
				<option> Community Member </option>
				<option> Other </option>
			</select>
		</div>
	</form>

	<form>
		<div class="form-group">
			<label for="inputAffiliation"> Type of Involvement </labe1>
			<select class="form-control">
				<option> Chef for I-Cafe </option>
				<option> English Tutoring </option>
				<option> Volunteer </option>
				<option> Other </option>
			</select>
		</div>
		<div class="form-group">
			<label for="inputOther">If "Other" Please Specify</label>
			<input type="text" class="form-control" id="inputOther" placeholder="Specify here">
		</div>
	</form>

		<a href="#" class="btn btn-default" onclick="func()" type ="submit" value="Submit"> Submit </button>	
	<script>
	 	function func() {
	 		 confirm("Thank you for your participation! ");
	 	}
	 </script>
	</form>
<a href="#" class="back-to-top" style="display: inline;">
<i class="fa fa-arrow-circle-up"></i>
</a>
<a class="back-to-top" style="display: inline;" href="#">Back to Top</a>

	<center>
    	<div class="logo">
        	<img src="images/guanaco.jpg"></a>
    	</div>
	</center>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>

</body>
</html>
